.header{
  margin: 0 auto;
  padding-top: 36px;
  padding-bottom: 52px;
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
}
@media screen and (max-width: 1024px) {
  .header{
    padding-bottom: 40px;
    margin-right: 48px;
    margin-left: 48px;
  }
}
@media screen and (max-width: 768px) {
  .header{
    padding-bottom: 0;
    padding-top: 28px;
    margin: 0 24px 45px 24px;
  }
}
@media screen and (max-width: 320px){
  .header{
    margin: 0 16px 48px 16px;
    max-width: 288px;
    padding-top: 16px;
  }
}